<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments::page_head('Users - Shopme Admin')"/>
<body>

<div class="container-fluid">
    <div th:replace="navigation::menu"/>
    <div>
        <h1>Manage Categories</h1>

        <a th:href="@{/categories/new}" class="fas fa-user-plus fa-2x icon-dark mr-2" title="Create New Category"></a>

        <a th:href="@{/categories/export/csv}" class="fas fa-file-csv fa-2x icon-dark mr-2" title="Export to CSV"></a>

        <a th:href="@{/categories/export/excel}" class="fas fa-file-excel fa-2x icon-dark mr-2" title="Export to Excel"></a>

        <a th:href="@{/categories/export/pdf}" class="fas fa-file-pdf fa-2x icon-dark mr-2" title="Export to PDF"></a>
    </div>

    <div th:if="${message != null}" class="alert alert-success text-center" >
        [[${message}]]
    </div>

    <div th:replace="fragments::search_form('/categories/page/1')" />

    <div class="full-details">
        <table class="table table-bordered table-striped table-hover table-responsive-xl">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Category Image</th>
                    <th th:replace="fragments::column_link('/categories', 'name', 'Category Name', 'none')" />
                    <th>
                        <a th:href="@{'/categories?sortDir=' + ${reverseSortDir}}" class="text-white">
                            Category Name
                        </a>
                        <span th:class="${sortDir == 'asc' ? 'fas fa-sort-up' : 'fas fa-sort-down'}"></span>
                    </th>
                    <th>Alias</th>
                    <th>Enabled</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="category : ${listCategories}" >
                    <td class="hideable-column" >[[${category.id}]]</td>
                    <td>
                        <img th:src="@{${category.categoryImagePath}}" class="img-fluid"
                             style="width: 100px;"/>
                    </td>
                    <td>[[${category.name}]]</td>
                    <td>[[${category.alias}]]</td>

                    <td>
                        <div th:replace="fragments::enabled_status('/categories/', ${category.id}, ${category.enabled})" />
                    </td>
                    <td>
                        <div th:replace="fragments::tableRow_actions('/categories/', ${category.id}, 'category', ${not category.hasChildren})" />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div th:if="${keyword != null}" class="text-center">
        <span>Search result does not show categories in hierarchical form</span>
        <div th:replace="fragments::pagination('/categories', 'categories')" />
    </div>
    <th:block th:unless="${keyword != null}">
        <div th:replace="fragments::pagination('/categories', 'top-level categories')" />
    </th:block>


    <div th:replace="modal_fragments::delete_dialog()" />

    <div th:replace="fragments::footer" />

</div>
<script type="text/javascript">
    moduleListURL = "[[@{/categories}]]";
</script>
<script th:src="@{/js/common_list.js}"></script>
</body>
</html>